/* sub2-1.css */

/* 메뉴 비주얼 영역 */
#menu_visual {
    width: 100%;
    margin: 0 auto;
    /* outline: 2px solid red; */
}

/* 메뉴 비주얼 배경 */
#menu_visual > header {
    position: relative;
    height: 300px;
    background: url(../images/menu_visual.edit.jpg);
    background-size: cover;
}

/* 메뉴 비주얼 텍스트 */
#menu_visual > header > p {
    color: #fff;
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px; font-weight: 700;
}

/* lnb 영역 */
#lnb {
    position: relative;
    background: #fff002;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
}
#lnb a {color: #fff;}
#lnb ul {
    overflow: hidden;
   /* padding-left: 30px;
    padding-right: 30px; */
}
#lnb ul li {
    display: inline-block;
}
#lnb ul a {
    display: inline-block;
    padding: 10px 15px;
}
#lnb > ul > li:first-child {
    border-bottom: 3px solid #fff;
}

/* 메뉴 리스트 */
#menu_content {
    width: 881px;
    overflow: hidden;
    margin: 0 auto;
    padding: 60px 0;
}

/* 메뉴 리스트 네임1 */
#menu_content #menu_list_name_1 {
    font-size: 14px;
    font-weight: 500;
    color: #7c6853;
    text-align: center;
    margin-bottom: 112px;
}

/* 메뉴 리스트 1 */
#menu_content > #menu_list_1 {
    overflow: hidden;
}
#menu_content > #menu_list_1 > li {
    float: left;
    width: 267px;
    margin-right: 40px;
    margin-top: 100px;
}
#menu_content > #menu_list_1 > li:last-child {
    margin-right: 0;
}

/* 메뉴 리스트 네임 1*/
#menu_content #menu_list_name_1 {
    overflow: hidden;
}

/* 메뉴1 */
.menu_1 {
    width: 267px;
    text-align: center;
    float: left;
    margin-right: 40px;
}

/* 메뉴2 */
.menu_2 {
    width: 267px;
    text-align: center;
    float: left;
    margin-right: 40px;
}

/* 메뉴3 */
.menu_3 {
    width: 267px;
    text-align: center;
    float: left;
}


/* 메뉴 리스트 네임2 */
#menu_content #menu_list_name_2 {
    font-size: 14px;
    font-weight: 500;
    color: #7c6853;
    text-align: center;
    margin-bottom: 112px;
}

/* 메뉴 리스트 2 */
#menu_content > #menu_list_2 {
    overflow: hidden;
}
#menu_content > #menu_list_2 > li {
    float: left;
    width: 267px;
    margin-right: 40px;
    margin-top: 10px;
}
#menu_content > #menu_list_2 > li:last-child {
    margin-right: 0;
}

/* 메뉴 리스트 네임 2*/
#menu_content #menu_list_name_2 {
    overflow: hidden;
}

/* 메뉴4 */
.menu_4 {
    width: 267px;
    text-align: center;
    float: left;
    margin-right: 40px;
}

/* 메뉴5 */
.menu_5 {
    width: 267px;
    text-align: center;
    float: left;
    margin-right: 40px;
}

/* 메뉴6 */
.menu_6 {
    width: 267px;
    text-align: center;
    float: left;
}